<?xml version="1.0" encoding="UTF-8"?>

<!--
  PHPUnit 12.x Configuration File for PHP 8.3 Projects
  Project: PHP 8.3 PhpStorm Starter Template
  Author: Pierre G. Boutquin
  Version: PHPUnit 12.x
  Schema reference: https://schema.phpunit.de/12.0/phpunit.xsd
-->

<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"

  bootstrap="tests/bootstrap.php"
  colors="true"
  stopOnFailure="false"
  failOnWarning="true"
  failOnRisky="true"
  testdox="true"
  executionOrder="depends,defects"
  cacheDirectory=".phpunit.cache"
>

  <!-- Env var used in bootstrap and tests -->
  <php>
    <env name="PHPUNIT_RUNNING" value="1"/>
  </php>

  <!-- Test discovery and grouping -->
  <testsuites>
    <testsuite name="Application Test Suite">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>

  <!-- Optional: generate HTML code coverage reports -->
  <!-- Requires Xdebug or PCOV to be installed -->
  <!--
  <logging>
      <log type="coverage-html"
           target="coverage-report"
           lowUpperBound="35"
           highLowerBound="70"/>
  </logging>
  -->
</phpunit>
